body {
  background-color: #1e1e1e;
}

header {
  display: flex;
  padding: 1rem;
}

.header-flex {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header-flex:first-child > span {margin-right: auto;}

.header-flex:last-child > span {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.logo-container img {
  max-height: 50px;
}

button {
  height: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  min-width: max-content;
}

button:active {
  box-shadow: none;
  margin-top: 2px;
  margin-bottom: -2px;

}

.form-floating {
  margin-top: 20px;
  margin-bottom: 40px;
}

div.main-card {
  padding: 40px;
  width: 400px;
  border: 2px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

div.form-container {
  margin: 200px auto;
}

div.applications-container, div.in {
  min-width: 1000px;
  margin: 100px auto 100px auto;
}

td button {
  height: 40px;
}

td, th {
  vertical-align: middle;
}


/* Loading Wheel */

.loader {
  border: 10px solid #f3f3f3b4;
  border-top: 10px solid #555555;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.101);
  display: flex;
  align-items: center;
  justify-content: center;
}