
#app-info, #interviews, #int-info {
  min-width: 1000px;
  margin: 100px auto;
}

#app-info button, #int-info button {
  margin-right: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.label-wrapper {
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-right: 10px;
  vertical-align: top;
}

.input-wrapper {
  display: inline-block;
  width: calc(100% - 170px);
}

input[type="date"], input[type="datetime-local"] {
  width: max-content;
}

.status-dropdown {
  width: max-content;
}

#app-info legend, #int-info legend {
  margin-bottom: 30px;
}

/* Loading Wheel */

.loader {
  border: 10px solid #f3f3f3b4;
  border-top: 10px solid #555555;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.101);
  display: flex;
  align-items: center;
  justify-content: center;
}
