
#app-info, #interviews, #int-info {
  min-width: 1000px;
  margin: 100px auto;
}

#app-info button, #int-info button {
  margin-right: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.label-wrapper {
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-right: 10px;
  vertical-align: top;
}

.input-wrapper {
  display: inline-block;
  width: calc(100% - 170px);
}

input[type="date"], input[type="datetime-local"], input[type="number"], input[type="tel"] {
  width: max-content;
}

.half-width {
  width: 50%;
}

input {
  width: max-content;
}

.status-dropdown {
  width: max-content;
}

#app-info legend, #int-info legend {
  margin-bottom: 30px;
}

